<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
        package="com.android.settings.sofiap.regulatory8">
    <overlay
        android:isStatic="true"
        android:priority="800"
        android:requiredSystemPropertyName="ro.boot.hardware.sku"
        android:requiredSystemPropertyValue="XT2043-8"
        android:targetPackage="com.android.settings" />
</manifest>